.logo{
    min-height: 150px;
}
.logo_img{
    height: 120px;
    width: 200px;
}
header{
    box-shadow: 0px 0px 7px 0px;
}

.d-none{
    display: none;
}
.d-block{
    display: block;
}
.business_news, .entertaiment_news, .health_news, .science_news, .technology_news{
    box-shadow: 0px 0px 7px 0px;
    margin-top: 10px;
    padding: 10px 15px;
}
.news{
    font-size: 18px;
    color: #000000;
}
.author{
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}
.time{
    font-size: 16px;
    font-weight: lighter;
    color: gray;
    padding-bottom: 10px;
}
.table_curse{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.btn_wrapper{
    margin-top: 10px;
}

.list{
    height: 120px;
}
.list .list_item{
    list-style: none;
    padding: 10px 15px;
    border-radius: 25%;
}
.list .list_item:hover {
    color: #fff;
    transform: translateY(-7px);
    transition: 0.5s;
  }

.list .list_item .list_link{
    font-size: 25px;
    color: #000000;
}
.buttonUP a i{
    font-size: 50px;
    position: fixed;
    top: 550px;
    right: 0;
    margin-right: 50px;
    animation: radial-pulse 1s infinite;
    border-radius: 50%;
    display: none;
}
@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}


footer{
    margin-top: 25px;
    height: 100px;
}

footer ul li{
    list-style: none;
}

footer ul li:first-child{
    font-size: 20px;
}



.button1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.button1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.button1:active {
	position:relative;
	top:1px;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }

    .row_time_1{
        min-height: 80px;
        width: 100%;
        background-color: aquamarine;
    }
    .data_day{
        text-align: center;
        font-size: 23px;
        font-weight: bold;
    }
    .day, .max_degrees, .min_degrees{
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .weather{
        /*background-color: aquamarine;*/
        margin-top: 50px;
    }





    /* loader */

    .loader {
        border: 16px solid #f3f3f3; 
        border-top: 16px solid #3498db; 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .loader_img {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        margin: 0 auto;
      }
    